/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2015, 1:21:35 PM
    Author     : Adi
*/

.kepala{
    width:100%;
    background: url("img/headerbg.png") repeat-x;
    height: 75px;

}
.kepala-desktop{
    width:100%;
  
    height: 100px;

}
.kanan{
    float: right;
}
.rata-kanan{
    margin-right: 30px;
    text-align: right;
}
.isi-halaman {       
    background-color: #ffffff;
    -webkit-transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
    padding-bottom: 20px;

}

.gambar-bundar{
    border-radius:50%;
    width:120px;
    height: 120px;
    border-color: green;
    border-width: 5px;
    border-style: solid;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;

}
.panel-foto-staff{
    width: 23%;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;

    border-radius: 5px 5px 5px 5px;

}
.panel-desktop-staff{
    width: 25%;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;

    border-radius: 5px 5px 5px 5px;

}
.gambar-staff-tengah{
    border-radius:50%;
    width:150px;
    height: 150px;
    border-color: green;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;

}
.gambar-desktop-tengah{
    border-radius:50%;
    width:180px;
    height: 180px;
    border-color: blue;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;

}
.gambar-staff{

    width:120px;
    height: 100px;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    float: left;
    margin-bottom: 14px;
    margin-top: 15px;


}
ulk {
    padding: 0;
    margin: 0 0 10px 0px;
}

.kotak-menu-atas{
    background-color: white;

    margin-left: 3px;
    width: 120px;
    height: 40px;
    text-align: center;

    float: right;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.kotak-menu-atas-keluar{
    background-color: white;
    padding-top: 4px;
    margin-left: 3px;
    width: 40px;
    height: 40px;
    text-align: center;

    float: right;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.kotak-menu-samping{
    background-color: white;

    margin-top: 3px;
    width: 44px;
    height: 100px;
    /* float: left; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* vertical-align:middle; */
    /* margin-left: 10px; */
}
.kotak-menu{

    width: 35px;
    height: 95px;
    margin-left: -10px;
    margin-top: -6px;
}
.nama{
    font-size: 14pt;
    color: #000;
    padding-top: 15px;
    padding-left: 20px;
   /* text-align: right;*/
    font-weight: bold;
    padding-right: 20px;
}
.nama-staff{
    font-size: 10pt;
    color: #000;
    padding-top: 20px;
    text-align: right;
    font-weight: bold;
}
.jabatan-staff{
    font-size: 8pt;
    color: #000;
    text-align: right;
}
.jabatan{
    font-size: 10pt;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
}
.icon-menu-kanan{
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 7px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.jarak-bawah-20{
    padding-bottom: 20px;
}
.menu-kepala{
    background: transparent;
    margin-top: -40px;
    /* margin-bottom: 5px; */
}
.nav-menu {
    margin-right: 30px;

}
.bulat-kiri-bawah{
    border-bottom-left-radius: 10px;

}
.bulat-kiri-atas{
    border-top-left-radius: 10px;

}
.bulat-kanan-atas{
    border-top-right-radius: 10px;

}
.bulat-kanan-bawah{
    border-bottom-right-radius: 10px;
}
.bulat-kanan-kiri-bawah{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bulat-kanan-kiri-atas{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.judul-kiri {

    font-size: 14pt;
    font-weight: bold;
    color: #419641;   


    padding: 20px 0 0 0;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 95%;


    margin-bottom: 20px;

}
.modal-header-skp{
    min-height:16.43px;
    padding:15px;
    border-bottom:1px solid #e5e5e5;
    background-color: #419641;
    color: #fff;
     font-size: 16pt;
    font-weight: bold;
}
.judul-kiri-merah {

    font-size: 14pt;
    font-weight: bold;
    color: red;   


    padding: 20px 0 0 0;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 95%;


    margin-bottom: 20px;

}
.panel-1, .panel-2, .panel-3, .panel-4, .panel-5, .panel-6, .panel-7, .panel-8, .panel-9, .panel-10, .panel-11, .panel-12 {
    position: relative;
    float: left;

}
.panel-12 {
    width: 100%;
}
.panel-11 {
    width: 91.66666667%;
}
.panel-10 {
    width: 83.33333333%;
}
.panel-9 {
    width: 75%;
}
.panel-8 {
    width: 66.66666667%;
}
.panel-7 {
    width: 58.33333333%;
}
.panel-6 {
    width: 50%;
}
.panel-5 {
    width: 41.66666667%;
}
.panel-4 {
    width: 33.33333333%;
}
.panel-3 {
    width: 25%;
}
.panel-2 {
    width: 16.66666667%;
}
.panel-1 {
    width: 8.33333333%;
}
.panel-isi{
    margin-left: auto;
    margin-right: auto;

    width: 95%;
    padding: 15px 5px 5px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.panel-kosong{
    margin-left: auto;
    margin-right: auto;

    width: 95%;

}
.abu-muda{
    background-color: #deedf7;
}
.abu-muda2{
    background-color: #FFFFA3;
}
.abu{
    background-color: #CCC;
}
.biru{

    background-color:blue;
}
.hijau{

    background-color:green;
}
.border-hijau{
border-color: green;
    border-width: 5px;
    border-style: solid;
}

.hijau-muda{  
    background-color:#b5ee8f;
}
.merah{  
    background-color:red;
}
.ungu{  
    background-color:magenta;
}
.merah-muda{  
    background-color:pink;
}
.biru-skp{
     background-color:#86a4fb;
}
.oranye{
    background-color:orange;
}
.text-biru-tua {
    color: #34495e;
}
.text-biru-tua-tebal {
    color: green;
    font-size: 30px;
    font-weight: bold;

}
.tebal{
    font-weight: bold;
}
.weks{
    height: 45px;
    vertical-align: central;
}
.text-hijau {
    color: green;
}

.text-biru {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}
.text-kuning {
    color: orange;
}
.text-merah {
    color: red;
}

.text-ungu {
    color: #8e44ad;
}

.text-putih-tebal {
    color: rgba(255,255,255,1);
}
.text-hitam-tebal {
    color: rgba(0,0,0,1);
}
/* -- Circle Tiles */

.circle-tile {
    margin-bottom: 20px;

    text-align: center;
}
.circle-tile-staff {
    margin-bottom: 1px;

    text-align: center;
}
.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
}

.circle-tile-number-persen {
    padding: 5px 0 15px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-description-bold {
    text-transform: uppercase;
    font-size: 20px;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}

.circle-tile-heading.dark-blue:hover {
    background-color: #2e4154;
}

.circle-tile-heading.green:hover {
    background-color: #138f77;
}

.circle-tile-heading.orange:hover {
    background-color: #da8c10;
}

.circle-tile-heading.blue:hover {
    background-color: #2473a6;
}

.circle-tile-heading.red:hover {
    background-color: #cf4435;
}

.circle-tile-heading.purple:hover {
    background-color: #7f3d9b;
}

.slider_wrapper{
    overflow: hidden;
    position:relative;
    /* height:400px; */
    top:auto;
}
#image_slider{

    position: relative;


    height: auto;
    list-style: none;
    overflow: hidden;
    float: left;
    /*Chrom default padding for ul is 40px */
    padding:0px;
    margin:0px;
}
#image_slider li{
    position: relative;
    float: left;
}
.nvgt{
    position:absolute;
    /* top: 250px; */
    height: 100%;
    width: 50px;
    opacity: 0.1;
}
.nvgt:hover{
    opacity: 0.9;
}
#prev{
    background: #000 url('img/prev.png') no-repeat center;
    left: 0px;
}
#next{
    background: #000 url('img/next.png') no-repeat center;
    right: 0px;
}