
thead {
    cursor: pointer;
    background: #c9dff0;
}
thead tr th.headerSortUp span {
    background-image: url('/css/up-arrow.png');
}
thead tr th.headerSortDown span {
    background-image: url('/css/down-arrow.png');
}