/* CSS reset */
body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height: 100%;
}
img { 
	border:0;
}
header{
	display: block;
}
/* General Demo Style */
body{
	font-family: Arial, Helvetica, sans-serif;
	background:url(images/bg.png);
	font-size: 14px;
	color: #3a2127;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	position: relative;
	margin-bottom:15px;
}
.clr{
	clear: both;
}
.container > header{
	padding: 20px 20px 20px 20px;
	position: relative;
	display: block;
    text-align: center;
}
.container > header h1{
	position: relative;
	color: #275973;
	font-weight: 700;
	font-style: normal;
	font-size: 25px;
	padding: 0px 0px 5px 0px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h1 strong{
	font-family: 'Open Sans Condensed','Arial Narrow', Arial, sans-serif;
	padding:0px 5px 0px 5px;
	line-height:35px; 
	color:#275973;
	font-size:28px;
	text-transform: uppercase;
}
.container > header h1 span{
	font-family: 'Alegreya SC', Georgia, serif;
	font-size: 20px;
	line-height: 20px;
	display: block;
	font-weight: 400;
	font-style: italic;
	color:#5a99ba;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
/* Buttom Style */
.freshdesignweb-top{
	text-align:center;
	color:#275973;
	line-height: 44px;
	font-size: 11px;
    background: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	position: relative;
	box-shadow: 3px 0px 5px rgba(0,0,0,0.2);
}
.freshdesignweb-top a{
	color:#fcca00;
}
.freshdesignweb-top a:hover{
	color:#0b2f42;
}
.freshdesignweb-top h1{
	margin:0 auto;
	width:490px;
	background:url(images/logo.png) no-repeat;
	font-weight:bold;
	font-family: 'Open Sans Condensed','Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-size:36px;
	text-shadow: 2px 2px 0px #F2F2F2, 1px 2px 0px #B1B1B2;
}
/* Buttom Style */
.freshdesignweb-buttom{
	font-family: 'Open Sans Condensed','Arial Narrow', Arial, sans-serif;
	color:#009;
	line-height: 24px;
	font-size: 11px;
    background: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	position: relative;
	box-shadow: 3px 0px 5px rgba(0,0,0,0.2);
}
.freshdesignweb-buttom a{
	padding: 0px 10px;
	letter-spacing: 1px;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.freshdesignweb-buttom a:hover{
	background:#FFF;
}
.freshdesignweb-buttom span.right{
	float: right;
	font-weight:bold;
}
.freshdesignweb-buttom span.right a{
	display: block;
}
/*
http://www.freshdesignweb.com/beautiful-registration-form-with-html5-and-css3.html
*/

.form{
	background:#f1f1f1; width:100%; margin:0 auto; padding-left:50px; padding-top:20px;
}
.form fieldset{border:0px; padding:0px; margin:0px;}
.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}

.form input[type="text"] { width: 500px; }
.form input[type="email"] { width: 500px; }
.form input[type="password"] { width: 500px; }
.form input.birthday{width:60px;}
.form input.birthyear{width:120px;}
.form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
.form label.month {width: 135px;}
.form input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 100, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }
.form .select-style {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(images/select-arrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 0px solid #FFF;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;}
.form .gender {
  width:410px;
  }
.form input.buttom{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
.form input.buttom:hover	{ background-color: #2a78f6; }